<!--   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   -->
<h1><%=t :user_list %></h1>
<table>
  <tr>
    <th><%=t :first_name %></th>
    <th><%=t :last_name %></th>
    <th><%=t :mobile_num %></th>
    <th><%=t :mobile_num2 %></th>
    <th><%=t :user_type %></th>
    <th><%=t :avg_ratings %></th>
    <th><%=t :edit_user %></th
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name%></td>
      <td><%=user.last_name %></td>
      <td><%=user.mobile_num %></td>
      <td><%=user.mobile_num2 %></td>
      <td><%=user.user_type %></td>
      <td>*****</td>
      <%user_link = (t :edit_user)   %>
      <td><%= link_to user_link, edit_user_registration_path, :class => 'navbar-link' %> </td>

    </tr>
  <% end %>
</table>